<h1>Idea field</h1>

<h1> <a data-target="con12" class="modal-open">blankcard</a></h1>

<div calss ="deck">
  test
</div>
<div class="row">
    <div class="col-md-8">
        <% if @user.ideas.any? %>
            <h3>Ideas (<%= @user.ideas.count %>)</h3>
            <script>
             var ideas = <%= @idea4js.to_json.html_safe %>;
             console.log(ideas);
            </script>
        <% end %>
    </div>
</div>


<!--モーダル内-->
<div id="con12" class="modal-content">
  <p><a class="modal-close">閉じる</a></p>

<div class="row">
    <%= form_for(@new_idea) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
            <%= f.label :content %>
            <%= f.text_area :content, placeholder: "Add your idea..." %>

            <%= f.label :suit %>
            <%= f.text_field :suit, placeholder: "Add your idea's suit..." %>
        </div>
        <%= f.submit "Post", class: "btn btn-primary" %>
    <% end %>
</div>
</div>
